
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-in-out;
}

.animate-slideInSlow {
  animation: slideIn 2.5s ease-in-out;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInFromLeft 1.8s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInFromRight 1.8s ease-out forwards;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(20px); /* Optional slight shift for smoother entry */
}


.nunito-r-8 {
  font-family: "Nunito", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}


.nunito-r-10 {
  font-family: "Nunito", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.nunito-r-12 {
  font-family: "Nunito", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.nunito-r-11 {
  font-family: "Nunito", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

.nunito-r-14 {
  font-family: "Nunito", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}

.nunito-sb-14 {
  font-family: "Nunito", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;

}

.nunito-b-18 {
  font-family: "Nunito", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.8rem;
}

.noto-r-8 {
  font-family: "Noto_serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}


.noto-r-10 {
  font-family: "Noto_serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.noto-r-12 {
  font-family: "Noto_serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.noto-sb-14 {
  font-family: "Noto_serif", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;

}

.noto-sb-16 {
  font-family: "Noto_serif", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
}

.noto-b-18 {
  font-family: "Noto_serif", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.8rem;
}


.noto-b-22 {
  font-family: "Noto_serif", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.2rem;
}

.noto-b-24 {
  font-family: "Noto_serif", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.4rem;
}

