.button_style {
  border-radius: 0.8rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0 2.4rem;
}

.button_md {
  height: 4.5rem;
  border-radius: 0.3rem;
}

.button_sm {
  height: 3rem;
  border-radius: 0.3rem;
}

.button_style:disabled,
.button_style:hover:disabled {
  background-color: var(--grey01);
  color: var(--grey02);
  cursor: not-allowed;
}

.primary_inverted,
.warning_inverted {
  background-color: var(--white);
  border: 0.1rem solid var(--grey01);
}

.primary_inverted {
  color: var(--black);
}

.warning_inverted {
  color: var(--orange);
}

.warning {
  color: var(--black);
  background-color: var(--yellow);
  transition: all 0.3 ease;
}

.warning:hover {
  color: var(--white);
  background-color: var(--black);
}

.primary {
  color: #0a0a0a;
  background-color: white;
}

.danger {
  color: var(--white);
  background-color: var(--red);
}
.pass {
  color: var(--white);
  background-color: var(--green);
}

.unstyled,
.unstyled_warning {
  padding: 0;
  margin: 0;
  height: fit-content;
  display: flex;
}

.unstyled {
  justify-content: center;
}

.unstyled_warning {
  color: var(--orange);
}

.unstyledDanger {
  color: var(--red);
}
